{% extends "base.html.twig" %}

{% block body %}

    <div class="float-right">
        <a href="{{ path('car_update', {id: car.id}) }}" class="btn btn-primary">
            Update
        </a>
        <a href="{{ path('car_delete', {id: car.id}) }}" class="btn btn-danger" onclick="return confirm('Confirmez la suppression !')">
            Delete
        </a>
    </div>
<img class="card-img-top" src="{{ asset('uploads/images/' ~ car.brochureFilename) }}" alt="Card image cap">
    
    <h2>
        {{ car.model }}
    </h2>

{% endblock %}